<ion-view view-title="Guarnición">
    <ion-content ng-controller="GuarnicionCtrl">
       <ion-list ng-repeat="guarniciones in guarniciones">
            <ion-checkbox 
            ng-if="guarniciones.guarnicion !=0" 
            value="guarniciones.guarniciones.g_id"
            ng-click="addGuarnicion(guarnicion.g_id)"
            ng-model="guarniciones.checked"
            ng-change="consoleLog(guarniciones)"
            ng-disabled="checked >= 2 && !guarniciones.checked" 
            style="margin-bottom:-8px;">{{guarniciones.guarnicion}}</ion-checkbox>
        </ion-list> 
<button class="button icon-right ion-chevron-right button-block button-dark" ng-click="guardarGuarnicion()">
  siguente
</button>
    </ion-content>
</ion-view>

