<ion-view view-title="Guarniciónes">
    <ion-content ng-controller="GuarnicionCtrl">
       <ion-list ng-repeat="guarnicion in guarniciones">
            <ion-checkbox 
            ng-if="guarnicion.guarnicion !=0" 
            value="guarnicion.g_id"
            ng-change="addGuarnicion(guarnicion)"
            ng-model="guarnicion.checked"
            ng-disabled="checked == 2 && !guarnicion.checked"
            style="margin-bottom:-8px;">{{guarnicion.guarnicion}}</ion-checkbox>
        </ion-list> 
<button class="button icon-right ion-chevron-right button-block button-dark" ng-click="guardarGuarnicion()">
  siguente
</button>
    </ion-content>
</ion-view>

