<ion-view> 
    <ion-content>
        <div class="bar bar-header bar-stable">
            <h1 class="title">inicio</h1>
        </div>
        <div class="list"></div>
        <div class="list"></div>
<div class=""><a href="/#/menu"><button class="button button-positive">MENÚ</button></a></div>
<div class=""><a href="/#/platillo"><button class="button button-calm">PLATILLO</button></a></div>
<div class=""><a href="/#/historial"><button class="button ">HISTORIAL</button></a></div>
    </ion-content>
</ion-view>
