<ion-view view-title="Inicio"> 
    <ion-content class="contLog" ng-controller="InicioCtrl">
        <div class="list"> 
            <div class="item item-body">    
                <img class="imgInicio" src="../img/menu.png"> 
                <div class=""><a href="/#/menu"><button class="button btnIni">MENÚ</button></a></div>
            </div>
         <div class="item item-body">    
                <img class="imgInicio" src="../img/pedir.png"> 
                <div class=""><a href="/#/platillo"><button class="button btnIni">PEDIR</button></a></div>
            </div>
         <div class="item item-body">    
                <img class="imgInicio" src="../img/platillo.png"> 
                <div class=""><a href="/#/historial"><button class="button btnIni">HISTORIAL</button></a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
