<ion-view> 
    <ion-content>
        <div class="bar bar-header bar-stable" style="position: relative">
  <h1 class="title">LOGIN</h1>
</div>
   
      <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Last Name">
        </label>
      <a href="/#/inicio"><button class="button button-positive" style="margin-top:10px;">
        entrar
      </button></a>
      </div>
    </ion-content>
</ion-view>
