<ion-view view-title="Login"> 
    <ion-content class="contLog">
      <img class="log" src="../img/log.png"/>
      <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input iLog">
            <input type="text" placeholder="Last Name">
        </label>
      <a href="/#/inicio"><button class="button botLog" style="margin-top:10px;">
        entrar
      </button></a>
      </div>
    </ion-content>
</ion-view>
