<ion-view view-title="Menú del día"> 
    <ion-content ng-controller="MenuCtrl">
            <div class="item item-divider">PLATILLOS</div> 
            <div  class="list" ng-repeat="menuDelDia in menuDelDia" style="margin-bottom:0;">
                <a class="item">{{menuDelDia.platillo}}</a>
            </div>
            <div class="item item-divider">GUARNICIONES</div> 
            <div  class="list" ng-repeat="menuDelDia in menuDelDia" style="margin-bottom:0;">
                <a class="item">{{menuDelDia.guarnicion}}</a>
            </div>
            <div class="item item-divider">BEBIDAS</div> 
            <div  class="list" ng-repeat="menuDelDia in menuDelDia" style="margin-bottom:0;">
                <a class="item">{{menuDelDia.bebida}}</a>
            </div>
    </ion-content>
</ion-view>
