<ion-view view-title="MENÚ DEL DÍA"> 
    <ion-content ng-controller="MenuCtrl">
            <div  class="list" ng-repeat="menu in menu" style="margin-bottom:0;">
                <div class="item item-divider">{{menu.name}}{{menu.dian}}{{menu.mes}}{{menu.year}}</div>
                <a class="item" ng-if="menu.dato1.indexOf(menu.dato1) === 0">{{menu.dato1}}</a>
                <a class="item" ng-if="menu.dato2.indexOf(menu.dato2) === 0">{{menu.dato2}}</a>
                <a class="item" ng-if="menu.dato3.indexOf(menu.dato3) === 0">{{menu.dato3}}</a>
                <a class="item" ng-if="menu.dato4.indexOf(menu.dato4) === 0">{{menu.dato4}}</a>
                <a class="item" ng-if="menu.dato5.indexOf(menu.dato5) === 0">{{menu.dato5}}</a>
                <a class="item" ng-if="menu.dato6.indexOf(menu.dato6) === 0">{{menu.dato6}}</a>
            </div>
    </ion-content>
</ion-view>
