<ion-view view-title="Menú del día"> 
    <ion-content ng-controller="MenuCtrl">
            <div class="item item-divider">PLATILLOS</div> 
            <div  class="list" ng-repeat="platillo in menuPlatillo" style="margin-bottom:-2px;">
                <a class="item">{{platillo.platillo}}</a>
            </div>
    
            <div class="item item-divider">GUARNICIONES</div> 
            <div  class="list" ng-repeat="guarnicion in menuGuarnicion" style="margin-bottom:-2px   ;">
                 <!--<a class="item" ng-if="menuDelDia.guarnicion.indexOf(menuDelDia.guarnicion) ===0">{{menuDelDia.guarnicion}}</a>-->
               <a class="item">{{guarnicion.guarnicion}}</a>
      
            </div>
      
            <div class="item item-divider">BEBIDAS</div> 
            <div  class="list" ng-repeat="bebida in menuBebida" style="margin-bottom:-2px;">
                <!--<a class="item" ng-if="menuDelDia.bebida.indexOf(menuDelDia.bebida) === 0">{{menuDelDia.bebida}}</a>-->
                <a class="item">{{bebida.bebida}}</a>
            </div>
        </ion-content>
</ion-view>
