<ion-view view-title="2017">
    <ion-content>

        <div class="list">


                <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                          <input type="text" placeholder="15/agosto">
                        </label>
                        <button class="button button-small">
                          buscar
                        </button>
                      </div>

            <div class="item item-divider">15/agosto</div>
            <a class="item">  Pollo en crema </a>
        </div>
    </ion-content>
</ion-view>