<ion-view view-title="Platillo">
    <ion-content ng-controller="PlatilloCtrl">
       <ion-list ng-repeat="platillo in platillos">
          
            <ion-checkbox 
            value="platillo.p_id" 
            ng-click="addPlatillo(platillo.p_id)"
            ng-model= "platillo.checked"
            ng-change="consoleLog(platillo)"
            ng-disabled="checked >= 1 && !platillo.checked"
            >{{platillo.platillo}}</ion-checkbox>
            
        </ion-list> 
<button  class="button icon-right ion-chevron-right button-block button-dark" ng-click="guardarPlatillo()">
  siguente
</button>
    </ion-content>
</ion-view>

